@use '1-helpers/variables';

@font-face {
  font-family: variables.$font-family-primary;
  src: local("mathlete"), url("/app/assets/fonts/-.woff2") format(".woff2"),
    url("/app/assets/fonts/-.woff") format(".woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
