@use '1-helpers/colors';
@use '1-helpers/mixins' as *;

.header {
  border-bottom: 1px solid #e2e8f0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item + &__item {
    margin-left: 5rem;
  }

  &__link {
    font-size: 1rem;
    font-weight: 400;
    color: #475569;
    &:hover {
      color: rgb(35, 155, 24);
    }
  }

  &__logo {
    width: 7rem;
  }
}

//---------------hamburger style-------------//
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 1.5rem;
  height: 0.188rem;
  margin: 0.313rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

//------------------mobile------------------//
@media only screen and (max-width: 768px) {
  .nav {
    align-items: flex-start;
  }
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav__menu.active {
    left: 0;
  }
  .nav__item {
    margin: 2.5rem 0;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .nav__link {
    font-size: 2rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    outline: none;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
