@use 'functions' as *;

@mixin font-size($size) {
  font-size: $size;
  font-size: toRem($size);
}
/* ===== Usage ===== */
// p {
//   @include font-size(14px)
// }
//----------------------------------------//
@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}
/* ===== Usage ===== */
div {
  // You can pass width && height
  @include box(200px, 300px);
  /* or just pass width and the height
     will default to the width value */
  @include box(200px);
}
//-----------------------------------------//
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
//------------------------------------------//
