$font-family-primary: "Roboto", sans-serif;

$font-size-main: 1rem;
$line-height: 1.5;
$font-family-primary: "Gilroy-Semibold", sans-serif;

$font-size-main: 1rem;
$line-height: 1.5;

$min-width: 320px;
$max-width: 1140;
$container-max-width: 1240; // + 30px if bp grid not used
$md1: $container-max-width + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
